/* Scss Document */

body{
  background: rgb(139, 206, 252);
  color: #444;
  font-family: cubano, sans-serif;
}

p{
  font-family: ff-avance-pro, serif;
  font-style: normal;
  font-weight: 400;
}
//Navbar
.navbar{
  position: fixed;
  width: 100%;
}

#Sky_Icon {
  padding-left: -3rem;
  padding-right: 5rem;
  margin-right: 1rem;
  font-size: 2.25rem;
  top: -.2rem;
  z-index: 100;
}

#Sky_Icon span{
  position: absolute;
  color: rgba(255,255,255, .5);
  font-size: 1.75rem;
  z-index: -50;
  top: 1.1rem;
  left: 1.5rem;
}

#Sky_Icon:hover {
  color: rgba(255, 255, 255, 1);
}

#Sky_Icon:hover span {
  color: rgba(255, 255, 255, .25);
}

// Underline Fanciness
.underline {
  position: relative;
  border: 2px solid transparent;
  
  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: rgba(255, 255, 255, .75);
    content: " ";
    position: absolute;
    left: 50%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  &:hover {
    &::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: rgba(255, 255, 255, .75);
      content: " ";
      position: absolute;
      left: 0;
    }
  }
}

.dropdown-item{
  &::after {
    background-color: rgba(0,0,0, .75);
  }
  
  &:hover {
    &::after {
      background-color: rgba(0,0,0, .75);
    }
  }
}

.nav-link{
  font-size: 1.45rem;
}


//Background
.bg {
  background: url("../images/temp_Mountain.png") center center;
  position: fixed;
  height: 100vh; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}



//Clouds
$duration: 10s;

$cloud-height: 20%;
$cloud-width: 1920px;
$cloud-bg: #eccd80;

$parallax-ratio: 1.618;
$cloud-order: 1 4 2 5 3;

.cloud {
  
  background: url("../images/Clouds.png");
  width: $cloud-width;
  position:  absolute;
  
  animation: float-across $duration linear infinite;
  
  @each $position in $cloud-order {
    $i: index($cloud-order, $position);
    &:nth-child(#{($i + 1 )}) {
      $time: $duration * $i + 3;
      animation-duration: $time * $parallax-ratio;
      height: $cloud-height + $i;// + 1% * (length($cloud-order) - $position);
      top: 0rem;
    }
  }
}

@keyframes float-across {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

#fly-in {
  height: 350px;
  color: #343a40;
  text-shadow: #444 .1 5px 5px;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 100%;
  font-size: 3rem;
  margin: 5vh auto;
  height: 1vh; 
  text-transform: uppercase;
  
}

#fly-in span {
  display: block;
  font-size: 2rem;
  opacity: .8;
}

#fly-in div {
  position: absolute;
  opacity: 0;
  left: 30vw;
  width: 40vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(2)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(1)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.5)}
    80% { opacity: 0}
    100% { opacity: 0}
}

//Contents
.cbr-1{
  position: relative;
  top: 20rem;
  left: -20rem;
}

.cbr-2{
  position: relative;
  top: 20rem;
  left: 30rem;
}

.slide {
  margin: 0;
  min-height: 100vh;
  height: 100vh; /*same height as jumbotron */
  z-index: -1;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
  overflow:hidden;
  
}

#slide1{
  background: url("../images/temp_design.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#slide2{
  background: url("../images/temp_code.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#slide3{
  background: url("../images/temp_photography.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#slide4{
  background: url("../images/temp_f1.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
